  <div class="nav-bar">
    <div class="container">
      <div class="row">
        <header class="col-md-4 col-sm-4 col-xs-12">
          {{#link-to 'index' tagName='h1' class='site-name'}}Mavs Stats{{/link-to}}
        </header>
        <nav class="col-md-8 col-sm-8" role="navigation">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
          <ul class="navigation">
            {{#link-to 'roster' tagName="li" class="nav-item"}}Roster{{/link-to}}
            {{#link-to '' tagName="li" class="nav-item"}}Trivia{{/link-to}}
            {{#link-to '' tagName="li" class="nav-item"}}Interactive Predictions{{/link-to}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <article class="col-md-8 col-xs-12 main">
        {{outlet}}
      </article>
      <aside class="col-md-4 col-xs-12">
        <h2>//todo</h2>
        <ul>
          <li>stuff</li>
        </ul>
      </aside>
    </div>
  </div>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          my site: <a href="http://sceendy.com" target="_blank">www.sceendy.com</a>
        </div>
      </div>
    </div>
  </footer>
