<div class="well">
  <h2>project: mavs stats</h2>
  <p>This is a project I am working on to learn Ember. NBA API is locked up but my goal is to use the stats to figure out certain things based on user input. The output will likely reflect how far away from team/player records initially. </p>
  <h3>project progress:</h3>
  <div class="progress-radial progress-10">
    <div class="overlay"></div>
  </div>
  <h3>stack:</h3>
  <p>Ember, Handlebars, and SCSS</p>
</div>
