<div class="well">
  <h2>Mavs Roster</h2>
  <div class="row roster-heading">
    <div class="col-md-2">
      <div class="text-center">#</div>
    </div>
    <div class="col-md-5">
      Player
    </div>
    <div class="col-md-3">
      Position
    </div>
    <div class="col-md-1">
      Yrs.
    </div>
  </div>
  {{#each}}
    {{#link-to 'player' this classNames='row row-v-space' tagName='div'}}
      <div class="col-md-2">
        <h3 class="roster-number">
          {{ number }}
        </h3>
      </div>
      <div class="col-md-5">
        {{ name }}
      </div>
      <div class="col-md-3">
        {{ position }}
      </div>
      <div class="col-md-1">
        <div class="text-right">{{ years }}</div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
